name: ci

on: [push, pull_request]

permissions:
  contents: read
  pull-requests: read

jobs:
  luacheck:
    runs-on: ubuntu-latest
    name: Luacheck
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Luacheck
        uses: lunarmodules/luacheck@6fc4af915c70a9326278d3df15875d28331b215d

  markdownlint:
    runs-on: ubuntu-latest
    name: Markdownlint
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Markdownlint
        uses: nosborn/github-action-markdown-cli@85611bef0da53168168939754ff9d8f6073a8fec
        with:
          files: "*.md"
          config_file: .markdownlint.json

  shellcheck:
    runs-on: ubuntu-latest
    name: Shellcheck
    steps:
      - uses: actions/checkout@main
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@00b27aa7cb85167568cb48a3838b75f4265f2bca
